
body {
  padding-top: 56px;
}

#janeladeprodutos{
	margin-top: 100px;
	position: relative;
}

#carrosel{
	margin-top: 30px;
}

.quemsomos{
	margin-top: 120px;
}

.produtos{
	margin-top: 100px;
}

.contatos{
	position: absolute;
	bottom: 60px;
	margin-left: -90px;
}

.txtdestaque{
	background-color: silver;
}

.gfneves{
  height: 65px;
  width: 90px;
  border-radius: 25%;
  margin-left: 150px;
}

.nav-link{
  margin-right: 130px;
}

.carousel-inner img{
  width: 600px;
  height: 350px;
  margin-left: 25%

}

section{
		margin: 25px auto;
		width: 360px;
		height: 20px;
    }
    
.rede{
		float: left;
		margin-left: 20px;
		transition: all 0.4s ease-out;
		border-radius: 50%;
	}
	

	.rede:hover{
		cursor: pointer;
		transform: translateY(-20px);
		box-shadow: 4px 30px 16px 0px rgba(50,50,50, 0.45);
	}

	.rede#facebook{
		background-color: #2372a3;
	}

	.rede#twitter{
		background-color: #0084b4;
	}

	.rede#instagram{
		background-color: #3f729b;
	}

	.rede#snap{
		background-color: #fc0;
	}

	.rede#plus{
		background-color: #dd4b39;
	}

	.rede#youtube{
		background-color: #b00;
	}

	.icone{
		margin: 8px;
		width: 20px;
	}

